[submodule "others/Server"]
	path = others/Server
	url = https://github.com/CortexVideoServices/Server.git
[submodule "others/VideoRoom"]
	path = others/VideoRoom
	url = https://github.com/CortexVideoServices/VideoRoom.git
[submodule "others/Web"]
	path = others/Web
	url = https://github.com/CortexVideoServices/Web.git
